* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a9a5a8;
}

.navbar {
  background-color: #5b4a60;
  color: #f4f5f4;
  padding: 10px;
  height: 60px;
}

.navLink {
  float: right;
  margin-right: 10px;
  margin-top: -15px;
  padding: 0 15 0 15;
  color: #f4f5f4;
  text-decoration: none;
}
